/****** Object:  Table [dbo].[DimCustomers]    Script Date: 27/10/2021 11:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomers](
	[CustomerID] [nchar](5) NOT NULL,
	[CustomerName] [nvarchar](40) NOT NULL,
	[CustomerAddress] [nvarchar](60) NULL,
	[CustomerCity] [nvarchar](15) NULL,
	[CustomerCountry] [nvarchar](15) NULL,
	[CustomerPhone] [nvarchar](24) NULL,
	[CustomerFax] [nvarchar](24) NULL,
	[CustomerPostalCode] [nvarchar](10) NULL,
	[CustomerContactName] [nvarchar](30) NULL,
	[CustomerContactTitle] [nvarchar](30) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimEmployees]    Script Date: 27/10/2021 11:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmployees](
	[EmployeeID] [int] NOT NULL,
	[EmployeeLastName] [nvarchar](20) NOT NULL,
	[EmployeeFirstName] [nvarchar](10) NOT NULL,
	[EmployeeTitle] [nvarchar](30) NULL,
	[EmployeeBirthDate] [datetime] NULL,
	[EmployeeHireDate] [datetime] NULL,
	[EmployeeAddress] [nvarchar](60) NULL,
	[EmployeeCity] [nvarchar](15) NULL,
	[EmployeePostalCode] [nvarchar](10) NULL,
	[EmployeeCountry] [nvarchar](15) NULL,
	[EmployeePhone] [nvarchar](24) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProducts]    Script Date: 27/10/2021 11:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProducts](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[ProductDiscontinued] [bit] NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[SupplierName] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimShippers]    Script Date: 27/10/2021 11:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShippers](
	[ShipperID] [int] NOT NULL,
	[ShipperName] [nvarchar](40) NOT NULL,
	[ShipperPhone] [nvarchar](24) NULL,
 CONSTRAINT [PK_Shippers] PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTime]    Script Date: 27/10/2021 11:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTime](
	[Date] [date] NOT NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Week] [int] NULL,
	[Quarter] [int] NULL,
	[Weekday] [int] NULL,
 CONSTRAINT [PK__DimeTime__77387D06BEDE80F4] PRIMARY KEY CLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 27/10/2021 11:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[SaleID] [int] NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[SaleDate] [date] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ShipperID] [int] NOT NULL,
	[SaleShippedDate] [datetime] NOT NULL,
	[SaleShipFreight] [money] NOT NULL,
	[SaleDetailUnitPrice] [money] NOT NULL,
	[SaleDetailQuantity] [smallint] NOT NULL,
	[SaleDetailDiscount] [real] NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC,
	[CustomerID] ASC,
	[EmployeeID] ASC,
	[SaleDate] ASC,
	[ProductID] ASC,
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DimCustomers] ([CustomerID], [CustomerName], [CustomerAddress], [CustomerCity], [CustomerCountry], [CustomerPhone], [CustomerFax], [CustomerPostalCode], [CustomerContactName], [CustomerContactTitle]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Obere Str. 57', N'Berlin', N'Germany', N'030-0074321', N'030-0076545', N'12209', N'Maria Anders', N'Sales Representative')
INSERT [dbo].[DimCustomers] ([CustomerID], [CustomerName], [CustomerAddress], [CustomerCity], [CustomerCountry], [CustomerPhone], [CustomerFax], [CustomerPostalCode], [CustomerContactName], [CustomerContactTitle]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Avda. de la Constitución 2222', N'México D.F.', N'Mexico', N'(5) 555-4729', N'(5) 555-3745', N'05021', N'Ana Trujillo', N'Owner')
INSERT [dbo].[DimCustomers] ([CustomerID], [CustomerName], [CustomerAddress], [CustomerCity], [CustomerCountry], [CustomerPhone], [CustomerFax], [CustomerPostalCode], [CustomerContactName], [CustomerContactTitle]) VALUES (N'ANTON', N'Antonio Moreno Taquería', N'Mataderos  2312', N'México D.F.', N'Mexico', N'(5) 555-3932', N'NULL', N'05023', N'Antonio Moreno', N'Owner')
GO
INSERT [dbo].[DimEmployees] ([EmployeeID], [EmployeeLastName], [EmployeeFirstName], [EmployeeTitle], [EmployeeBirthDate], [EmployeeHireDate], [EmployeeAddress], [EmployeeCity], [EmployeePostalCode], [EmployeeCountry], [EmployeePhone]) VALUES (1, N'Davolio', N'Nancy', N'Sales Representative', CAST(N'1971-12-08T00:00:00.000' AS DateTime), CAST(N'2015-05-01T00:00:00.000' AS DateTime), N'507 - 20th Ave. E. Apt. 2A', N'Seattle', N'98122', N'USA', N'(206) 555-9857')
INSERT [dbo].[DimEmployees] ([EmployeeID], [EmployeeLastName], [EmployeeFirstName], [EmployeeTitle], [EmployeeBirthDate], [EmployeeHireDate], [EmployeeAddress], [EmployeeCity], [EmployeePostalCode], [EmployeeCountry], [EmployeePhone]) VALUES (2, N'Fuller', N'Andrew', N'Vice President, Sales', CAST(N'1975-02-19T00:00:00.000' AS DateTime), CAST(N'2015-08-14T00:00:00.000' AS DateTime), N'908 W. Capital Way', N'Tacoma', N'98401', N'USA', N'(206) 555-9482')
INSERT [dbo].[DimEmployees] ([EmployeeID], [EmployeeLastName], [EmployeeFirstName], [EmployeeTitle], [EmployeeBirthDate], [EmployeeHireDate], [EmployeeAddress], [EmployeeCity], [EmployeePostalCode], [EmployeeCountry], [EmployeePhone]) VALUES (3, N'Leverling', N'Janet', N'Sales Representative', CAST(N'1986-08-30T00:00:00.000' AS DateTime), CAST(N'2015-04-01T00:00:00.000' AS DateTime), N'722 Moss Bay Blvd.', N'Kirkland', N'98033', N'USA', N'(206) 555-3412')
GO
INSERT [dbo].[DimProducts] ([ProductID], [ProductName], [ProductDiscontinued], [CategoryName], [SupplierName]) VALUES (1, N'Chai', 0, N'Beverages', N'Exotic Liquids')
INSERT [dbo].[DimProducts] ([ProductID], [ProductName], [ProductDiscontinued], [CategoryName], [SupplierName]) VALUES (2, N'Chang', 0, N'Beverages', N'Exotic Liquids')
INSERT [dbo].[DimProducts] ([ProductID], [ProductName], [ProductDiscontinued], [CategoryName], [SupplierName]) VALUES (3, N'Aniseed Syrup', 0, N'Condiments', N'Exotic Liquids')
GO
INSERT [dbo].[DimShippers] ([ShipperID], [ShipperName], [ShipperPhone]) VALUES (1, N'Speedy Express', N'(503) 555-9831')
INSERT [dbo].[DimShippers] ([ShipperID], [ShipperName], [ShipperPhone]) VALUES (2, N'United Package', N'(503) 555-3199')
INSERT [dbo].[DimShippers] ([ShipperID], [ShipperName], [ShipperPhone]) VALUES (3, N'Federal Shipping', N'(503) 555-9931')
GO
INSERT [dbo].[DimTime] ([Date], [Day], [Month], [Year], [Week], [Quarter], [Weekday]) VALUES (CAST(N'2019-07-04' AS Date), 4, 7, 2019, 27, 3, 4)
INSERT [dbo].[DimTime] ([Date], [Day], [Month], [Year], [Week], [Quarter], [Weekday]) VALUES (CAST(N'2019-07-05' AS Date), 5, 7, 2019, 27, 3, 5)
INSERT [dbo].[DimTime] ([Date], [Day], [Month], [Year], [Week], [Quarter], [Weekday]) VALUES (CAST(N'2019-07-08' AS Date), 8, 7, 2019, 28, 3, 1)
GO
INSERT [dbo].[FactSales] ([SaleID], [CustomerID], [EmployeeID], [SaleDate], [ProductID], [ShipperID], [SaleShippedDate], [SaleShipFreight], [SaleDetailUnitPrice], [SaleDetailQuantity], [SaleDetailDiscount]) VALUES (10248, N'VINET', 5, CAST(N'2019-07-04' AS Date), 11, 3, CAST(N'2019-07-16T00:00:00.000' AS DateTime), 32.3800, 14.0000, 12, 0)
INSERT [dbo].[FactSales] ([SaleID], [CustomerID], [EmployeeID], [SaleDate], [ProductID], [ShipperID], [SaleShippedDate], [SaleShipFreight], [SaleDetailUnitPrice], [SaleDetailQuantity], [SaleDetailDiscount]) VALUES (10248, N'VINET', 5, CAST(N'2019-07-04' AS Date), 42, 3, CAST(N'2019-07-16T00:00:00.000' AS DateTime), 32.3800, 9.8000, 10, 0)
INSERT [dbo].[FactSales] ([SaleID], [CustomerID], [EmployeeID], [SaleDate], [ProductID], [ShipperID], [SaleShippedDate], [SaleShipFreight], [SaleDetailUnitPrice], [SaleDetailQuantity], [SaleDetailDiscount]) VALUES (10248, N'VINET', 5, CAST(N'2019-07-04' AS Date), 72, 3, CAST(N'2019-07-16T00:00:00.000' AS DateTime), 32.3800, 34.8000, 5, 0)
GO
ALTER TABLE [dbo].[FactSales] ADD  CONSTRAINT [DF_FactSales_Freight]  DEFAULT ((0)) FOR [SaleShipFreight]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimCustomers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[DimCustomers] ([CustomerID])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimCustomers]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimEmployees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[DimEmployees] ([EmployeeID])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimEmployees]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimeTime] FOREIGN KEY([SaleDate])
REFERENCES [dbo].[DimTime] ([Date])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimeTime]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[DimProducts] ([ProductID])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimProducts]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimShippers] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[DimShippers] ([ShipperID])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimShippers]
GO
